/* === Variables Globales === */
:root {  
    --primary-color: hsla(91, 35%, 22%, 0.773);  
    --primary-hover-color: #006B45;  
    --secondary-color: #d9e6db;  
    --accent-color: #e09705;  
    --font-family: 'Poppins', sans-serif;  
    --font-weight-bold: 600;  
    --font-weight-regular: 400;  
    --border-radius: 5px;  
    --transition-speed: 0.3s;  
}

/* === Styles Globaux === */
body {  
    margin: 0;  
   /* padding: 220px; */ 
    width: 100%;  
    font-family: var(--font-family);  
}  

/* === Header Principal === */
.header-title {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    background-color: #f4f4f4;
    padding: 20px 10px;
    border-bottom: 2px solid #ddd;
}

.header-title h1 {
    font-size: 2.5rem;
    color: #0C6B23;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* === Header Secondaire === */
.header-secondary {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* === Navigation === */
.nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 8px 16px;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: all var(--transition-speed) ease;
    font-weight: var(--font-weight-regular);
}

.nav-links a:hover {
    background-color: var(--primary-color);
    color: white;
}

/* === Barre de Recherche === */
.search-bar {
    display: flex;
    align-items: stretch;
    gap: 8px;
}

.search-bar input[type="text"] {
    padding: 8px 14px;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    width: 300px;
    outline: none;
    transition: all var(--transition-speed) ease;
    box-sizing: border-box;
}

.search-bar input[type="text"]:focus {
    border-color: var(--primary-hover-color);
    box-shadow: 0 0 5px rgba(0, 158, 96, 0.3);
}

.search-bar button {  
    padding: 10px 16px; /* Taille légèrement augmentée pour un meilleur confort */  
    background-color: #0C6B23; /* Fond vert foncé */  
    color: white;  
    border: none;  
    border-radius: 6px; /* Coins légèrement plus arrondis */  
    cursor: pointer;  
    font-size: 16px;  
    font-weight: 600; /* Texte légèrement plus épais */  
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animation fluide */  
}  

.search-bar button:hover {  
    background-color: #F39323; /* Fond vert au survol */  
    transform: scale(1.05); /* Légère mise en avant au survol */  
}  

.search-bar button:active {  
    transform: scale(0.95); /* Effet de clic */  
    background-color: #0C6B23; /* Fond plus foncé au clic */  
}

/* === Section Régionale === */
.section-regionale {
    display: flex;
    flex-wrap: wrap;
    padding:10px 100px;
    gap: 20px;
    background-color: white;
    border-radius: 8px;
}







/* Conteneur principal pour la section région */
.section-regionales {
    padding: 40px; /* Réduisez le padding pour rapprocher les éléments */
    background-color: #f8f9fa;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre légère pour un effet de continuité */
}

/* Conteneur principal pour la section département */
.section-departementale {
    padding: 40px; /* Assurez-vous que le padding soit similaire à la section région */
    background-color: #f8f9fa;
    border-radius: 8px;
    margin: 0; /* Retirer les marges entre les deux sections pour plus de fluidité */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre similaire pour une continuité */
    height: auto; /* Utilisez une hauteur automatique pour permettre une expansion fluide */
}

/* Style pour l'ombre et la bordure */
.section-regionales, .section-departementale {
    border: 1px solid #ddd; /* Ajout d'une bordure légère pour un effet homogène */
}

/* Style pour les titres */
.section-titre {
    text-align: center;
    font-size: 36px;
    color: #006B45;
    margin-bottom: 20px;
}


/* Style pour le titre de la section */
.section-titre {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #006B45; /* Couleur de titre */
    margin-bottom: 10px; /* Réduisez la marge inférieure pour rapprocher les blocs */
}


/* Conteneur pour les graphiques */
.conteneur-graphiques {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* Colonne pour chaque graphique ou tableau */
.colonne {
    flex: 1;
    margin: 10px;
    min-width: 280px; /* Minimum width pour chaque colonne */
    max-width: 600px; /* Maximum width pour chaque colonne */
}
.responsive-image {
    width: 100%;
    height:400px;
}
.justified-text {
    text-align: justify;
}

/* Style pour le tableau */
#tableauPop {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style pour l'entête du tableau */
#tableauPop thead {
    background-color: #006B45;
    color: white;
}

#tableauPop th, #tableauPop td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

#tableauPop tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tableauPop tr:hover {
    background-color: #ddd;
}

/* Espacement du graphique dans la colonne */
canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.colonne h2 {
    font-size: 25px; /* Ajustez la taille de la police ici */
    /* Facultatif : changez le poids de la police */
    text-align: center;
}


/* Section publication ---------------------------------------- */
#publicationSection {
  
    padding: 20px;
    margin-top: 20px;
    display: none;
    text-align: center; /* Centrer le contenu */
}

#publication {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centrer les cartes */
    max-width: 1200px; /* Limiter la largeur du conteneur */
    margin: 0 auto; /* Centrer le conteneur */
}

.card {
    width: 250px;
    height: 100px;
    padding: 20px;
    border: 2px solid #004085;
    border-radius: 10px;
    text-align: center;
    background-color: #f8f9fa;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.details {
    margin-top: 0; /* Pas d'espace au-dessus du bloc */
    padding: 0 250px; /* 0 en haut et en bas, 100px à gauche et à droite */
    border-radius: 10px;
    background-color: white;
    display: grid; /* Utilisation de Grid Layout */
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    justify-content: center; /* Centre les colonnes dans le conteneur */
    align-items: flex-start; /* Aligne les contenus en haut des colonnes */
}



.details > div {
    background: #ffffff; /* Couleur de fond pour distinguer chaque section */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.details ul li {
    margin-bottom: 10px;
}

.details ul li button {
    margin-left: 10px;
}

.details form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacement uniforme entre les champs */
}

.details form input {
    width: 100%; /* S'étend à la largeur du conteneur */
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.details form button {
    padding: 8px 12px;
    background-color: #006B45;  
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.details form button:hover {
    background-color:#006B45;   /* Changer la couleur au survol */
}


#ficheSynoptiqueList button {
    background-color: #006B45; /* Couleur de fond des boutons */
    color: #ffffff; /* Couleur du texte */
    border: none; /* Suppression des bordures */
    padding: 10px 15px; /* Ajout d'un padding pour agrandir les boutons */
    border-radius: 10px; /* Bordures arrondies */
    cursor: pointer; /* Curseur pointeur pour indiquer qu'il est cliquable */
    transition: background-color 0.3s ease; /* Animation de transition pour le survol */
}

#ficheSynoptiqueList button:hover {
    background-color: #006B45; ; /* Couleur de fond au survol */
}

#ficheSynoptiqueList button:active {
    background-color: #006B45; ; /* Couleur de fond lorsqu'on clique */
    transform: scale(0.95); /* Réduction visuelle pour simuler un clic */
}

#ficheSynoptiqueList button + button {
    margin-left: 10px; /* Espacement entre les boutons adjacents */
}
.details h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #e09705;
    font-weight: bold;
}


#region {
    width: 100%; /* S'adapte à la largeur du conteneur parent */
    height: 50vh; /* Utilisation d'une hauteur relative à la fenêtre */
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden; /* S'assure qu'aucune partie de la carte ne déborde */
}
.region, .department {
    stroke: #333;
    stroke-width: 0.5;
}
.region {
    fill: #cce5ff;
}
.department {
    fill: #ffddcc;
}
#tooltip {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    display: none;
}




