/* Styles de base pour le corps */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* Conteneur global pour la mise en page */
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
}

/* Colonne de gauche : Liste des colonnes disponibles */
.container > div:first-child {
    flex: 1;
    border: 1px solid #2fd601;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
}

.container > div:first-child h3 {
    color: #023e17;
    margin-bottom: 10px;
}

.draggable-item {
    display: inline-block;
    padding: 10px;
    margin: 5px 0;
    background-color: #e9ecef;
    border: 1px solid #6c757d;
    border-radius: 10px;
    cursor: grab;
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s;
}

.draggable-item:hover {
    background-color: #06ba06;
    color: #fff;
}




/* Zones de dépôt pour les lignes */
#droppable-area-rows {
    height: 200px;  /* Hauteur fixe */
    width: 150px;   /* Largeur fixe */
    padding: 15px;
    border: 2px dashed #74e568;
    border-radius: 5px;
    background-color: #f8f9fa;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    overflow-y: auto;  /* Ajout d'une barre de défilement si le contenu dépasse */
}

/* Zones de dépôt pour les colonnes */
#droppable-area-cols {
    height: 100px; /* Hauteur fixe */
    width: 200px;  /* Largeur fixe */
    padding: 15px;
    border: 2px dashed #28a745;
    border-radius: 5px;
    background-color: #f8f9fa;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    margin-left: -50%;
    left: 20%;
    top: 30%;
    transform: translate(-10%, 10%);
    overflow-y: auto;  /* Ajout d'une barre de défilement si le contenu dépasse */
    white-space: nowrap;
}

#droppable-area-rows:hover, #droppable-area-cols:hover {
    background-color: #e0f4e0;
}

/* Placeholder pour chaque zone de dépôt */
#placeholder-rows, #placeholder-cols {
    color: #6c757d;
    font-style: italic;
    text-align: center;
    width: 100%;
}

/* Zone de filtres */
#filter-container {
    width: 100%;
    min-height: 150px;
    padding: 20px;
    border: 2px solid #c3d0bf;
    border-radius: 5px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    width: 200px;
}

/* Style pour chaque label + select */
#filter-container label {
    font-weight: bold;
    margin-right: 10px;
    
}

#filter-container select {
    padding: 10px;

    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
    background-color: #fff;
    font-size: 1em;
}

/* Conteneur pour la zone de dépôt et les filtres */
#depot-filter-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start; /* Garde tous les éléments alignés au début */
    min-height: 200px; /* Ajustez selon la taille souhaitée */
}

/* Styles spécifiques pour les éléments enfants */
#depot-filter-container > .filter-element {
    width: 200px; /* Largeur fixe pour l'élément "filter" */
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    border-radius: 5px;
}

#depot-filter-container > .drop-area {
    flex: 1;
    min-height: 100px; /* Ajustez la hauteur minimale si nécessaire */
    padding: 15px;
    border: 2px dashed #2fd601;
    background-color: #ffffff;
    border-radius: 5px;
}
/* Zone de dépôt droite */
.container > div:nth-child(2) {
    flex: 3;
    border: 1px solid #28a745;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}

.container > div:nth-child(2) h3 {
    color: #28a745;
    margin-bottom: 10px;
}

/* Conteneur du tableau au centre */
#table-container {
    margin-top: 20px;
    border: 2px solid #6c757d;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow-y: auto; 
}

/* Style du tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #074120;
    color: white;
}

td {
    background-color: #f8f9fa;
}

tr:hover {
    background-color: #e0e0e0;
}

/* Style pour le conteneur parent avec la bordure tricolore */
.parent-frame {
    border: 1px solid;
    border-image: linear-gradient(to right, orange 33%, white 33%, white 66%, green 66%);
    border-image-slice: 1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.titre-indicateur {
    text-align: center;
    font-weight: bold;
    padding: 10px;
   
    border-radius: 5px;
    background-color: #468409;
    color: #FFFFFF;
    display: inline-block;
    margin: 20px auto;
    width: fit-content;
}

.header-secondary {
    background-color: #468409;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #0cce1c;
}

/* Conteneur de filtre */
.filter-group {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-title {
    background-color: #f0f0f0;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-title::after {
    content: '+';
    font-weight: bold;
    font-size: 16px;
    color: #333;
    transition: transform 0.3s;
}

.checkbox-container {
    padding: 8px;
    background-color: #fafafa;
    display: none;
}

.filter-group.open .filter-title::after {
    content: '-';
}

/* Boutons de téléchargement et Métadonnées */
.download-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.download-buttons button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    background-color: #15c632;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.download-buttons button:hover {
    background-color: #efbb71;
    transform: translateY(-3px);
}

.download-buttons button:active {
    background-color: #efbb71;
    transform: translateY(0);
}

#metadonnees {
    background-color: #468409;
}

#metadonnees:hover {
    background-color: #de7207;
}
