<!DOCTYPE html>  
<html lang="fr">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Base de données des statistiques régionales</title>  
    
    <!-- CSS -->  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/region_vitrine.css') }}">  
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">  

    <!-- JS -->  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  
    <script src="https://d3js.org/d3.v6.min.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>  
    <script src="{{ url_for('static', filename='js/education.js') }}"></script>  
</head>  
<body>  
    <!-- Header -->  
    <div class="header-title">
        <h1>Plateforme régionale des données</h1>
    </div>
    
    <div class="header-secondary">
        <div class="nav-links">
            <a href="{{ url_for('list_regions') }}" class="logo-link">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Statistiques" style="width: 150px; height: auto;">
            </a>
            <a href="{{ url_for('search_indicators') }}">Accéder aux indicateurs</a>
            <a href="#publication" onclick="toggleVisibility()">Publications</a>
        </div>
    
        <div class="search-bar">
            <form method="POST" action="{{ url_for('search') }}">
                <input type="text" name="query" placeholder="Entrez votre recherche..." required>
                <button type="submit">Rechercher</button>
            </form>
        </div>
    </div>

  
<!----------------########################Publication-------------------------------------------------------------------------##########-->
<div id="publicationSection">
    <!-- Section Publication qui s'affiche au clic -->
    <div id="publication" >
        <!-- Carte 1: Fiche Synoptique -->
        <div class="card" onclick="showDetails('ficheSynoptiqueDetails')">
            <h3>Fiche Synoptique</h3>
            <p>Consultez la liste des fiches synoptiques.</p>
        </div>

        <!-- Carte 2: Annuaire -->
        <div class="card" onclick="showDetails('annuaireDetails')">
            <h3>Annuaire</h3>
            <p>Consultez les informations annuaires disponibles.</p>
        </div>

        <!-- Carte 3: Bulletin des Prix -->
        <div class="card" onclick="showDetails('bulletinPrixDetails')">
            <h3>Bulletin des Prix</h3>
            <p>Accédez aux derniers bulletins des prix.</p>
        </div>

        <!-- Carte 4: Autres -->
        <div class="card" onclick="showDetails('autresDetails')">
            <h3>Autres</h3>
            <p>Explorez d'autres publications disponibles.</p>
        </div>
    </div>

    <!-- Détails des sections -->
    <div id="ficheSynoptiqueDetails" class="details" style="display: none;">
        <h3>Fiches Synoptiques</h3>
        <ul>
            <li>Fiche 1</li>
            <li>Fiche 2</li>
            <li>Fiche 3</li>
        </ul>
    </div>

    <div id="annuaireDetails" class="details" style="display: none;">
        <h3>Annuaire</h3>
        <p>Contenu des annuaires ici.</p>
    </div>

    <div id="bulletinPrixDetails" class="details" style="display: none;">
        <h3>Bulletin des Prix</h3>
        <p>Derniers bulletins des prix ici.</p>
    </div>

    <div id="autresDetails" class="details" style="display: none;">
        <h3>Autres Publications</h3>
        <p>Explorez les autres publications ici.</p>
    </div>
</div>

    <script>
        function toggleVisibility() {
            var element = document.getElementById("publicationSection");
            if (element.style.display === "none" || element.style.display === "") {
                element.style.display = "block";
            } else {
                element.style.display = "none";
            }
        }
    </script>
    <script>
        function showDetails(detailId) {
            // Masquer tous les détails
            const details = document.querySelectorAll('.details');
            details.forEach(detail => detail.style.display = 'none');
    
            // Afficher la section sélectionnée
            const selectedDetail = document.getElementById(detailId);
            if (selectedDetail) {
                selectedDetail.style.display = 'block';
            }
        }
    </script>


<!--############################Presentation de la région---------------------------------------------------------------------Dashbord    --->
<!-- Section régionale -->
<div class="section-regionale">
    <!-- Colonne gauche -->
    <div class="colonne gauche">
        <h2>Carte de la région</h2>
        <p>Contenu spécifique à la colonne gauche, tel que les informations régionales ou les filtres.</p>
        <p>
            La Région du <strong>Haut-Sassandra</strong>, située au centre-ouest de la Côte d’Ivoire, bénéficie d’une position stratégique grâce à sa localisation au carrefour d’importants axes routiers nationaux et internationaux. Avec une <strong>superficie de 15 200 km²</strong>, elle comprend quatre départements, 23 sous-préfectures, sept communes et 331 villages. 
        </p>
        <p>
            Sa population cosmopolite, composée de divers groupes ethniques ivoiriens et étrangers, vit en harmonie, favorisant un brassage culturel. Le relief varié de la région inclut une pénéplaine, des collines culminant jusqu’à 700 mètres et des vallées alluviales, propices aux cultures irriguées.
        </p>
    </div>

    <!-- Colonne droite -->
    <div class="colonne droite">
        <h2>Situation géographique</h2>
        <p>Contenu spécifique à la colonne droite, tel que des graphiques, cartes, ou tableaux.</p>
    </div>
</div>
<!-- Fin régionale -->
<!-- Section régionale autres partie -->
<div class="section-regionale">
    <!-- Colonne gauche -->
    <div class="colonne gauche">
        <h2>Cadre climatologie de la région</h2>
        <p>Contenu spécifique à la colonne gauche, tel que les informations régionales ou les filtres.</p>
     
    </div>

    <!-- Colonne droite -->
    <div class="colonne droite">
        <h2>Carte de la région</h2>
        <p>Contenu spécifique à la colonne gauche, tel que les informations régionales ou les filtres.</p>
        <p>
            La Région du <strong>Haut-Sassandra</strong>, située au centre-ouest de la Côte d’Ivoire, bénéficie d’une position stratégique grâce à sa localisation au carrefour d’importants axes routiers nationaux et internationaux. Avec une <strong>superficie de 15 200 km²</strong>, elle comprend quatre départements, 23 sous-préfectures, sept communes et 331 villages. 
        </p>
        <p>
            Sa population cosmopolite, composée de divers groupes ethniques ivoiriens et étrangers, vit en harmonie, favorisant un brassage culturel. Le relief varié de la région inclut une pénéplaine, des collines culminant jusqu’à 700 mètres et des vallées alluviales, propices aux cultures irriguées.
        </p>
</div>
<!-- Fin régionale  autre partie-->
<!-- -------------------------------------------------Section Régionale -->
<div class="section-regionales">
    <!-- Titre de la section -->
    <h1 class="section-titre">Statistiques clés de la  région de ...</h1>
    
    <!-- Conteneur des graphiques -->
    <div class="conteneur-graphiques">
        <!-- Colonne gauche : Taux de chômage -->
        <div class="colonne">
            <h2>Taux de chômage</h2>
            <canvas id="tauxChomageChart" width="600" height="250"></canvas>      
        </div>
        <!-- Colonne du milieu: Indice de développement humain -->
        <div class="colonne">
            <h2>Indice de Développement Humain (IDH)</h2>
            <canvas id="idhChart" width="600" height="250"></canvas>
        </div>
    </div>
        <div class="conteneur-graphiques">
        <!-- Colonne supplémentaire : Alphabétisation -->
        <div class="colonne">
            <h2>Alphabétisation dans la Région de Poro (2016-2023)</h2>
            <canvas id="alphabetisationChartPoro" width="400" height="250"></canvas>
        </div>
        <!-- Colonne supplémentaire : Population urbaine/rurale -->
        <div class="colonne">
            <h2>Population urbaine vs rurale</h2>
            <canvas id="popRuralUrbain" width="200" height="100"></canvas>
        </div>
    </div>

</div>





<!-- -------------------------------------------------Section Département -->
<div class="section-departementale">
    <!-- Titre de la section -->
    <h1 class="section-titre">Statistiques clés des départements</h1>
    
    <!-- Conteneur des graphiques -->
    <div class="conteneur-graphiques">
        <!-- Colonne gauche : Pyramide des âges -->
        <div class="colonne">
            <h2>Pyramide des âges</h2>
            <canvas id="pyramideAgesChart" width="600" height="250"></canvas>      
        </div>
        <!-- Colonne du milieu: Taux de natalité -->
        <div class="colonne">
            <h2>Taux de natalité sur 10 ans</h2>
            <canvas id="tauxNataliteChart" width="600" height="250"></canvas>
        </div>
    </div>

    <!-- Conteneur des tableaux et graphiques supplémentaires -->
    <div class="conteneur-graphiques">
        <!-- Colonne gauche : Tableau statistiques -->
        <div class="colonne">
            <h2>Tableau statistiques</h2>
            <!-- Tableau dynamique pour afficher les effectifs de population par département, par sexe et total -->
            <table id="tableauPop">
                <thead>
                    <tr>
                        <th>Département</th>
                        <!-- Les modalités de sexe et total seront ajoutées dynamiquement ici -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Les départements et effectifs seront insérés dynamiquement ici -->
                </tbody>
            </table>
        </div>
        
        
        <!-- Colonne du milieu: Personnel médical -->
        <div class="colonne">
            <h2>Personnel médical</h2>
            <canvas id="effectifMedical" width="600" height="250"></canvas>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='js/education.js') }}"></script>
<!-- Fin département -->
    <!-- Section des graphiques -->  


    <!-- ########################################Publication-->
 


    <!--                Fin Publication-->
</body>  
</html>