<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moteur de Recherche</title>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resultats.css') }}">
       <!-- Style -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='asset/css/fresh-bootstrap-table.css') }}">
        

  <!-- Fonts and icons -->
  <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header-secondary">
        <div class="nav-links">
            <a href="{{ url_for('list_regions') }}">Statistiques</a>
            <a href="{{ url_for('search_boostrap') }}">Requête</a>
            <a href="{{ url_for('domaines') }}">Domaines</a>
            <a href="#connexion">Aide</a>
        </div>

    </div>

      <!-- Barre de flash infos -->
  
    
    
    <div class="fresh-table toolbar-color-blue ">
        
        <div id="loading" style="display:none;">Chargement...</div> 
        {% if results %}
           
            <table id="fresh-table" class="table">
                <thead>
                    <tr>
                       
                        <th>Indicateur</th>
                        <th>Sous domaine</th>
                        <th>Définition de l'indicateur</th>
                        <th>Mode calcul</th>
                        <th>Mode de collecte</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hit in results %}
                        <tr>
                           
                            <td><a href="{{ url_for('request_indicateur', region=hit['_source']['region'] ,indicateur_elastic=hit['_source']['indicateur'] ) }}">{{ hit['_source']['indicateur'] }}</a></td>
                            <td>{{ hit['_source']['Sous_domaine'] }}</td>
                            <td>{{ hit['_source']['Definition'] }}</td>
                            <td>{{ hit['_source']['Mode_de_calcul'] }}</td>
                            <td>{{ hit['_source']['Mode_de_collecte'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <!-- Pagination -->
           <!-- Pagination -->
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('search', query=query, page=page-1) }}">Précédent</a>
            {% endif %}
            
            <span>Page {{ page }} sur {{ total_pages }}</span>

            {% if page < total_pages %}
                <a href="{{ url_for('search', query=query, page=page+1) }}">Suivant</a>
            {% endif %}
        </div>

        {% else %}
            <p>Aucun résultat trouvé. Essayez d'affiner votre recherche.</p>
        {% endif %}
    </div>

    <script>
        document.querySelector('form').addEventListener('submit', function() {
            document.getElementById('loading').style.display = 'block';
        });
    </script>
</body>
</html>
