<!DOCTYPE html>  
<html lang="fr">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Base de données des statistiques régionales</title>  
    
    <!-- CSS -->  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/region_vitrine.css') }}">  
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">  

    <!-- JS -->  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  
    <script src="https://d3js.org/d3.v6.min.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>  
    <script src="{{ url_for('static', filename='js/education.js') }}"></script>  
</head>  
<body>  
    <!-- Header secondaire -->  
    <div class="header-secondary">  
        <div class="nav-links">  
            <a href="{{ url_for('list_regions') }}">  
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo des statistiques" style="width: 70px; height: auto;">  
            </a>            
            <a href="{{ url_for('search_indicators') }}">Base de données indicateurs</a>  
            <a href="#connexion">Aide</a>  
        </div>  

        <!-- Barre de recherche -->  
        <div class="search-bar">  
            <form method="POST" action="{{ url_for('search') }}">  
                <input type="text" name="query" placeholder="Entrez votre recherche..." required>  
                <button type="submit">Rechercher</button>  
            </form>  
        </div>  
    </div> 
        <div id="loading" style="display:none;">Chargement...</div> 
        
        {% if results %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Indicateur</th>
                    <th scope="col">Sous domaine</th>
                    <th scope="col">Définition</th>
                    <th scope="col">Mode calcul</th>
                    <th scope="col">Mode de collecte</th>
                </tr>
            </thead>
            <tbody>
                {% for hit in results %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td><a href="{{ url_for('request_indicateur', region=hit['_source']['region'], indicateur_elastic=hit['_source']['indicateur'] ) }}">{{ hit['_source']['indicateur']|capitalize }}</a></td>

                    <td>{{ hit['_source']['Sous_domaine']| capitalize }}</td>
                    <td>{{ hit['_source']['Definition']| capitalize }}</td>
                    <td>{{ hit['_source']['Mode_de_calcul']| capitalize }}</td>
                    <td>{{ hit['_source']['Mode_de_collecte']| capitalize }}</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>

        <!-- Pagination -->
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('search', query=query, page=page-1) }}">Précédent</a>
            {% endif %}
        
            {% for p in range(1, total_pages + 1) %}
                {% if p == page %}
                    <strong>{{ p }}</strong>
                {% else %}
                    <a href="{{ url_for('search', query=query, page=p) }}">{{ p }}</a>
                {% endif %}
            {% endfor %}
        
            {% if page < total_pages %}
                <a href="{{ url_for('search', query=query, page=page+1) }}">Suivant</a>
            {% endif %}
        </div>
        

        {% else %}
            <p>Aucun résultat trouvé. Essayez d'affiner votre recherche.</p>
        {% endif %}
   

    <script>
        document.querySelector('form').addEventListener('submit', function() {
            document.getElementById('loading').style.display = 'block';
        });
    </script>
</body>
</html>
