<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Requête sur indicateur</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/search_indicateur.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMoAm5Wc8pN4dZQoGNSx+Lr5mICwL7F45B5cOa" crossorigin="anonymous">
</head>
<body>

<!-- Fenêtre modale pour la description -->
<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="descriptionModalLabel">Description de la base de données</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <p> Cette base de données a été développée par des statisticiens pour fournir des indicateurs pertinents sur divers domaines et sous-domaines. </p>
        <p>Les domaines sont composés de plusieurs sous-domaines, regroupant les indicateurs par thématique.</p>
        <p> Cette base de données contient de données de  2000 à ce jour avec une mise à jour regulière</p>
        <p>Lorsque vous cliquez sur un domaine, tous les sous-domaines associés s'affichent. Vous pouvez ensuite sélectionner les sous-domaines qui vous intéressent. </p>
          <p>Une fois la liste des indicateurs affichée, cliquez sur l'indicateur de votre choix pour lancer la recherche.</p>
        
          <p>Après avoir lancé la recherche, vous pourrez voir toutes les zones géographiques concernées par l'indicateur sélectionné.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<div class="header-secondary">
    <div class="nav-links">
        <a href="{{ url_for('list_regions') }}">Statistiques</a>
        <a href="{{ url_for('search_indicators') }}">Requête</a>
        <a href="#">A propos</a>
        <a href="#connexion">Aide</a>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-4 sidebar">
        <h5>Domaines</h5>
        <ul id="domaines" class="list-group">
          <!-- Les domaines seront générés dynamiquement ici par js-->
        </ul>
    </div>
    <div class="col-md-4 main-content">
        <h5>Sous-domaines</h5>
        <ul id="thematiques" class="list-group">
          <!-- Les thématiques apparaîtront ici dynamiquement -->
        </ul>
    </div>
    <div class="col-md-4 indicators-list main-content">
        <h5>Indicateurs</h5>
        <ul id="indicateurs" class="list-group">
          <!-- Les indicateurs apparaîtront ici dynamiquement -->
        </ul>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
  // Affiche la modale de description uniquement lors de la première visite
  document.addEventListener('DOMContentLoaded', function () {
    const descriptionModal = new bootstrap.Modal(document.getElementById('descriptionModal'));
    descriptionModal.show(); // Affiche la fenêtre de description au chargement de la page

    fetchData();  // Appel de la fonction de récupération des données
  });
  
  let domaines = {};
  function fetchData() {
      fetch('/get_data2')
          .then(response => response.json())
          .then(data => {
              Object.keys(data).forEach(key => {
                  const [domaine, thematique] = key.split(', ');
                  if (!domaines[domaine]) {
                      domaines[domaine] = { thematiques: {} };
                  }
                  domaines[domaine].thematiques[thematique] = data[key];
              });
              displayDomaines();
              const firstDomaine = Object.keys(domaines)[0];
              if (firstDomaine) {
                  selectDomaine(firstDomaine);
              }
          })
          .catch(error => {
              console.error('Erreur lors de la récupération des données:', error);
          });
  }
  function displayDomaines() {
      const domainesList = document.getElementById('domaines');
      domainesList.innerHTML = '';
      Object.keys(domaines).forEach(domaine => {
          const li = document.createElement('li');
          li.classList.add('list-group-item');
          li.onclick = function () {
              selectDomaine(domaine);
          };
          li.innerHTML = `<i class="fas fa-folder"></i> ${domaine.charAt(0).toUpperCase() + domaine.slice(1).replace(/_/g, ' ')}`;
          domainesList.appendChild(li);
      });
  }
  function selectDomaine(domaine) {
    const thematiquesList = document.getElementById('thematiques');
    const indicateursList = document.getElementById('indicateurs');
    thematiquesList.innerHTML = '';
    indicateursList.innerHTML = '';

    if (!domaines[domaine]) {
        console.error(`Le domaine ${domaine} n'existe pas.`);
        return;
    }
    Object.keys(domaines[domaine].thematiques).forEach((thematique) => {
      const li = document.createElement('li');
      li.classList.add('list-group-item');
      const checkbox = document.createElement('input');
      checkbox.type = 'checkbox';
      checkbox.classList.add('form-check-input');
      checkbox.id = thematique;
      checkbox.onchange = function () {
        toggleIndicateurs(domaine, thematique, checkbox.checked);
      };
      const label = document.createElement('label');
      label.classList.add('checkbox-label');
      label.setAttribute('for', thematique);
      label.innerHTML = thematique.charAt(0).toUpperCase() + thematique.slice(1);

      li.appendChild(checkbox);
      li.appendChild(label);
      thematiquesList.appendChild(li);
    });
  }
  function toggleIndicateurs(domaine, thematique, isChecked) {
    const indicateursList = document.getElementById('indicateurs');
    if (isChecked) {
      domaines[domaine].thematiques[thematique].forEach((indicateur) => {
        const li = document.createElement('li');
        li.classList.add('list-group-item');
        li.id = `indicateur-${indicateur.replace(/\s+/g, '-')}`;
        const a = document.createElement('a');
        a.href = `#`;
        a.innerHTML = indicateur;
        a.classList.add('indicateur-link');
        li.appendChild(a);
        indicateursList.appendChild(li);
        a.onclick = function (event) {
          event.preventDefault();
          searchIndicatorInElastic(indicateur);
        };
      });
    } else {
      domaines[domaine].thematiques[thematique].forEach((indicateur) => {
        const li = document.getElementById(`indicateur-${indicateur.replace(/\s+/g, '-')}`);
        if (li) {
          indicateursList.removeChild(li);
        }
      });
    }
  }
  function searchIndicatorInElastic(indicateur) {
    const encodedIndicateur = encodeURIComponent(indicateur);
    window.location.href = `/search_indicators2/${encodedIndicateur}`;
  }
</script>
</body>
</html>
